/*
    You can add your own custom styles here.
*/

aside.sidebar {
  #main-menu {
    @media (min-width: 768px) {
      margin-top: 30px; /* above menu */
    }
    gap: 20px; /* btwn menu rows */

    --menu-icon-separation: 20px; /* btwn icon + label */
  }
}

main {
  min-height: 100vh;
  @media (max-width: 768px) {
    min-height: 75vh;
  }

  .article-content > ul {
    margin-top: -1em;
  }

  footer {
    margin-top: auto;
  }
}
