/*
    You can add your own custom styles here.
*/


#main-menu {
  --menu-icon-separation: 20px;

  gap: 20px;
}

@media (min-width: 768px) {
  #main-menu {
    margin-top: 30px;
  }
}

.article-content > ul {
  margin-top: -1em;
}
